.container{
	text-align: center;
}
h1{
	color: cornflowerblue;
}

.city{
	color: black;
	text-align: center;
}
h3{
	color: darkblue;
}
.weatherMain{
	text-align: center;
}
.bold{
	text-align: center;
}
